# Lets me jump between words with option + left/right arrow
bindkey "^[f" forward-word
bindkey "^[b" backward-word

# Environments
export LC_ALL=en_US.UTF-8
export LC_CTYPE=en_US.UTF-8

# Scripts
export PATH="{{ dev_shell_scripts_folder }}:$PATH"
